<div class="container">

  <div class="text-center">
    <h1>
      Gerador de times <br> PELADA DE QUINTA
    </h1>
  </div>

  <div class="col-12">
    <div *ngIf="!jaGerouTimes" class="col-12 d-flex justify-content-center">
      <img src="https://i.ibb.co/MfRZDpz/LOGO-PELADA.png" width="300" height="300">
    </div>
  </div>

  <hr>

  <div class="col-12">
    <h2>Trocar Jogador</h2>
    <form (ngSubmit)="onTrocarJogador()">
      <div class="col-12 pb-2">
        <label for="nomeAntigo">Nome do Jogador Antigo:</label>
        <input class="form-control" type="text" id="nomeAntigo" [(ngModel)]="nomeAntigo" name="nomeAntigo" required />
      </div>

      <div class="col-12">
        <div class="col-12 pb-2">
          <label for="nomeNovo">Nome do Novo Jogador:</label>
          <input class="form-control" type="text" id="nomeNovo" [(ngModel)]="novoJogador.nome" name="nomeNovo" required />
        </div>
        <div class="col-12 pb-2">
          <label for="notaNova">Nota do Novo Jogador:</label>
          <input class="form-control" type="number" id="notaNova" [(ngModel)]="novoJogador.nota" name="notaNova" required />
        </div>
      </div>

      <div class="d-grid gap-2 pt-2">
        <button class="btn btn-secondary" type="submit">Trocar Jogador</button>
      </div>
    </form>
  </div>

  <hr>

  <div class="col-12">
    <div class="d-grid gap-2">
      <button class="btn btn-block btn-success pr-2" (click)="gerarTimes()">Gerar Times</button>
      <button *ngIf="jaGerouTimes" class="btn btn-block btn-primary pr-2" (click)="salvar()">Salvar</button>
    </div>
  </div>

  <hr>

  <div class="col-12">
    <div *ngIf="jaGerouTimes" class="col-12 pb-3 d-flex justify-content-center">
      <img src="https://i.ibb.co/MfRZDpz/LOGO-PELADA.png" width="200" height="200" alt="" srcset="">
    </div>


    <div *ngIf="times.length > 0" id="teste" class="testec col-12">
      <hr>
      <div *ngFor="let time of times;  index as i" id="timesCriados{{i}}" class="time-card col-12 pb-0 mb-0">
        <div class="text-center">
          <h3>{{ time.nome }}</h3>
        </div>

        <div *ngFor="let jogador of time.jogadores" class="text-center">
          <span >{{ jogador }}</span><br>
        </div>

        <div class="col-12 d-flex justify-content-center">
          <img [src]="emblemasTimes[i]" width="250" height="250"><br>
        </div>

        <div class="text-center">
          <h2><b>Nota total: {{ time.nota | number: '1.2-2' }}</b></h2>
        </div>

        <div class="gramado">
          <img [src]="time.imagem[0]" alt="Jogador 1" class="player player1">
          <img [src]="time.imagem[1]" alt="Jogador 2" class="player player2">
          <img [src]="time.imagem[2]" alt="Jogador 3" class="player player3">
          <img [src]="time.imagem[3]" alt="Jogador 4" class="player player4">
          <img [src]="time.imagem[4]" alt="Jogador 5" class="player player5">
        </div>
        <hr *ngIf="i < times.length">
      </div>
    </div>
  </div>
</div>
