<div class="container">

  <div class="text-center">
    <h1>
      Gerador de times <br> PELADA DE QUINTA
    </h1>
  </div>

  <div class="col-12">
    <div *ngIf="!jaGerouTimes" class="col-12 d-flex justify-content-center">
      <img src="https://i.ibb.co/MfRZDpz/LOGO-PELADA.png" width="300" height="300">
    </div>
  </div>

  <hr>

  <div class="col-12">
    <button class="btn btn-primary" (click)="editandoJogadores = !editandoJogadores" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      {{editandoJogadores ? 'Fechar edição de jogadores' : 'Abrir edição de jogadores'}}
    </button>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <h2>Trocar jogadores</h2>
        <div *ngFor="let jogador of jogadores;  index as i">
            <div class="row">
              <div class="col-sm-1 col-6">
                <label for="numero">Nº:</label>
                <input class="form-control" type="text" id="numero" [(ngModel)]="jogador.id" name="numero" required disabled/>
              </div>

              <div class="col-sm-7 col-6">
                <label for="nome">Nome do Jogador:</label>
                <input class="form-control" (keyup)="jogador.img = imagemAvulso" type="text" id="nome" [(ngModel)]="jogador.nome" name="nome" required />
              </div>

              <div class="col-sm-2 col-6">
                <label for="nota">Nota:</label>
                <input class="form-control" type="number" id="nota" [(ngModel)]="jogador.nota" name="nota" required />
              </div>

              <div class="col-sm-2 col-6">
                <label for="pote">Pote:</label>
                <input class="form-control" type="number" id="pote" [(ngModel)]="jogador.pote" name="pote" required disabled="true" />
              </div>
            </div>
            <hr *ngIf="i < jogadores.length">
        </div>
        <div class="d-grid gap-2 pt-2">
          <button class="btn btn-secondary"  data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" type="button" (click)="editarJogadores(jogadores); editandoJogadores = !editandoJogadores">
            Finalizar edição
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="col-12">
    <div class="d-grid gap-2">
      <button class="btn btn-block btn-success pr-2" (click)="gerarTimes()">Gerar Times</button>
      <button *ngIf="jaGerouTimes" class="btn btn-block btn-primary pr-2" (click)="salvar()">Salvar</button>
    </div>
  </div>

  <hr>

  <div class="col-12">
    <div *ngIf="jaGerouTimes" class="col-12 pb-3 d-flex justify-content-center">
      <img src="https://i.ibb.co/MfRZDpz/LOGO-PELADA.png" width="200" height="200" alt="" srcset="">
    </div>


    <div *ngIf="times.length > 0" id="teste" class="testec col-12">
      <hr>
      <div *ngFor="let time of times;  index as i" id="timesCriados{{i}}" class="time-card col-12 pb-0 mb-0">

        <div class="col-12 d-flex justify-content-center">
          <img [src]="emblemasTimes[i]" width="250" height="250"><br>
        </div>

        <div class="text-center">
          <h3>{{ time.nome }}</h3>
        </div>

        <div *ngFor="let jogador of time.jogadores" class="text-center">
          <span >{{ jogador.nome + ' / Pote: ' + jogador.pote}}</span><br>
        </div>

        <div class="text-center">
          <h2><b>Nota total: {{ time.nota | number: '1.2-2' }}</b></h2>
        </div>

        <div class="gramado">
          <img [src]="time.imagem[0]" alt="Jogador 1" class="player playerImg player1">
          <img [src]="time.imagem[1]" alt="Jogador 2" class="player playerImg player2">
          <img [src]="time.imagem[2]" alt="Jogador 3" class="player playerImg player3">
          <img [src]="time.imagem[3]" alt="Jogador 4" class="player playerImg player4">
          <img [src]="time.imagem[4]" alt="Jogador 5" class="player playerImg player5">
          <span class="playerName playerName1">{{time.jogadores[0].nome}}</span>
          <span class="playerName playerName2">{{time.jogadores[1].nome}}</span>
          <span class="playerName playerName3">{{time.jogadores[2].nome}}</span>
          <span class="playerName playerName4">{{time.jogadores[3].nome}}</span>
          <span class="playerName playerName5">{{time.jogadores[4].nome}}</span>
        </div>
        <hr *ngIf="i < times.length">
      </div>
    </div>
  </div>
</div>
