<div class="container">

  <div class="text-center">
    <h1>
      My Card <br> PELADA DE QUINTA
    </h1>
  </div>

  <div class="col-12">
    <div class="col-12 d-flex justify-content-center">
      <img src="https://i.ibb.co/MfRZDpz/LOGO-PELADA.png" width="300" height="300">
    </div>
  </div>

  <div class="col-12">
    <div class="row col-12 pb-2 d-flex align-items-center">
      <div class="col-sm-4 pl-0 col-12">
        <label for="nome">Nome do Jogador:</label>
        <input class="form-control" type="text" placeholder="Nome do Atleta" [(ngModel)]="nomeAtleta">
      </div>

      <div class="col-sm-4 pl-0 col-12">
        <label for="nome">Quantos gols você fez?</label>
        <input class="form-control" type="text" placeholder="Número de gols" [(ngModel)]="golsAtleta">
      </div>

      <div class="col-sm-4 pl-0 col-12">
        <label for="nome">Quando foi o jogo?</label>
        <input class="form-control" type="text" placeholder="Data do jogo" [(ngModel)]="dataJogo">
      </div>

      <div class="col-sm-6 pl-0 col-12">
        <label for="nome">Atributo:</label>
        <ng-select [items]="apelidosJogadores"
          placeholder="Escolha uma descrição para sua atuação"
          class="pb-1"
          bindLabel="nome"
          bindValue="nome"
          [(ngModel)]="apelidoSelecionado">
        </ng-select>
      </div>

      <div class="col-sm-6 pl-0 col-12">
        <label for="customRange2" class="form-label">Posição horizontal:</label>
        <input type="range" [(ngModel)]="posicaoHorizontalInicial" class="form-range" min="-65" max="40" id="customRange2">
      </div>

      <div class="col-sm-6 pl-0 col-12">
        <label for="customRange2" class="form-label">Posição vertical:</label>
        <input type="range" [(ngModel)]="posicaoVerticalInicial" class="form-range" min="-40" max="40" id="customRange2">
      </div>

      <div class="col-sm-2 col-12 pt-1">
        <span class="badge bg-primary"(click)="selecionarApelido()" style="cursor: pointer;">Clique para gerar</span>
      </div>
    </div>

    <div class="col-sm-6 pl-0 col-12">
      <label for="nome">Selecionar jogador:</label>
      <ng-select [items]="jogadores"
        placeholder="Escolha você"
        class="pb-1"
        bindLabel="nome"
        bindValue="id"
        [(ngModel)]="idJogadorSelecionado"
        (change)="selecionarJogador(idJogadorSelecionado)">
      </ng-select>
    </div>

    <div class="pb-2">
      <button class="btn btn-success" role="button" type="button" (click)="captureStory()">
        Finalizar edição
      </button>
    </div>

    <div id="storyDiv" class="story">
      <div class="row col-12">
        <div class="col-12">
          <span class="apelidoAtleta">
            {{apelidoSelecionado}}
          </span>

          <br>

          <span class="nomeAtleta">
            {{nomeAtleta}}
          </span>

          <div class="cardFifa">
            <img [src]="jogadorSelecionado?.img" class="cardAtleta" [ngStyle]="{'margin-left':posicaoHorizontalInicial+'rem', 'margin-top':posicaoVerticalInicial+'rem'}">
          </div>

          <div class="infoJogo">
            <span class="">
              Gols: {{golsAtleta}} <br> Data: {{dataJogo}}
            </span>
          </div>

          <div class="marqueAPelada"><span style="color: white;">{{'@PeladaDeQuintaJf'}}</span></div>

          <div class="row col-12 patrocinadores"></div>
        </div>
      </div>
    </div>
  </div>
</div>
