<div class="container">
  <div class="text-center">
    <h1>
      Artilharia <br> PELADA DE QUINTA
    </h1>
  </div>

  <div class="col-12">
    <div *ngIf="!jaGerouNota" class="col-12 d-flex justify-content-center">
      <img src="https://i.ibb.co/MfRZDpz/LOGO-PELADA.png" width="300" height="300">
    </div>
  </div>

  <div class="col-12">
    <div class="d-grid gap-2 pt-3">
      <button class="btn btn-primary btn-block" (click)="editandoJogadores = !editandoJogadores" data-bs-toggle="collapse" href="#collapseEditarPontuacao" role="button" aria-expanded="false" aria-controls="collapseEditarPontuacao">
        {{editandoJogadores ? 'Fechar edição de jogadores' : 'Abrir edição de jogadores'}}
      </button>
    </div>

    <div class="col-12 pt-2">
      <div class="d-grid gap-2">
        <button class="btn btn-block btn-primary pr-2" (click)="salvar()">Exportar Artilharia</button>
      </div>
    </div>

    <div class="collapse" id="collapseEditarPontuacao">
      <div class="card card-body">
        <h2>Editar Artilharia</h2>
        <div class="row col-12">

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div *ngFor="let jogador of artilhariaListagem;  index as i" class="col-12">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapseOne_' + i" aria-expanded="false" [attr.aria-controls]="'flush-collapseOne_' + i">
                    {{jogador.jogador}}
                  </button>
                </h2>
                <div id="flush-collapseOne_{{i}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Janeiro:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.janeiro">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Fevereiro:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.fevereiro">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Março:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.marco">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Abril:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.abril">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Maio:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.maio">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Junho:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.junho">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Julho:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.julho">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Agosto:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.agosto">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Setembro:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.setembro">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Outubro:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.outubro">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Novembro:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.novembro">
                    </div>
                    <hr>
                    <div class="col-sm-4 pl-0 col-12">
                      <label for="nome">Dezembro:</label>
                      <input class="form-control" type="number" [(ngModel)]="jogador.dezembro">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 pt-2">
          <button class="btn btn-secondary"  data-bs-toggle="collapse" href="#collapseEditarPontuacao" role="button" aria-expanded="false" aria-controls="collapseEditarPontuacao" type="button" (click)="pontuarJogadores(artilhariaListagem); editandoJogadores = false">
            Salvar
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="gerandoArtilharia || atualizandoArtilharia" class="col-12 d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>

    <div *ngIf="!gerandoArtilharia && !atualizandoArtilharia" class="col-12">
      <div id="storyDiv" class="testec story">
        <div class="row col-12">
          <div class="col-12 p-5">
            <div class="text-center">
              <img src="https://i.ibb.co/MfRZDpz/LOGO-PELADA.png" width="100" height="100">
              <span style="font-size: 44px;">Artilharia - Pelada de 5ª</span>
            </div>

            <div class="artilharia-cardAtleta card">
              <div *ngFor="let jogador of artilhariaListagem; index as i" [ngClass]="getClassByIndex(i, jogador.idJogador!.toString())" class="artilharia-atleta p-3 row col-12">
                <div class="col-2 artilharia-col-rostoJogador" [ngClass]="getAjusteImagem(jogador.idJogador!)" [ngStyle]="{'background-image': 'url('+jogador.imagemJogador+')'}"></div>
                <div class="col-4 artilharia-detalhesJjogador">
                  {{jogador.jogador}}
                </div>
                <div class="col artilharia-detalhesJjogador">
                  {{jogador.totalGols}} gols
                </div>
              </div>
              <div class="row col-12 patrocinadores"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
